@charset "UTF-8";
/* CSS Document */
html
body {
        font-family:Helvetica, sans-serif;
        font-size:22px;
        color:seashell;
        background-color: black;
        opacity: 0.9;
        text-align: center;        
    }

/* navigation */

.topnav {
    display:flex;
    align-items: center;
    height:69px;
    border-bottom:1px solid seashell;
    position:fixed;
    width: 100%;
    top:0px;
    left:0px;
    background-color: black;
    z-index:1;
    

}
.topnav img{
    margin:10px;
    height:50px;

}

a {
    text-decoration:underline;
    margin-right:10px;
    margin-left:0px;
}

.topnav p {
    width:50px;
    flex-grow:1;
}

/* mission or hero */

main {
    display: flex;
    align-items:center;
    background-image: url('./Media/img-mission-background.webp');
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    height: 700px;
    width:1200px;
    margin:0 auto;
    position:relative;
    top: 70px;    
}

main div {
    background-color:black;
    padding:10px;
    width:100%;
}

/* tea of the month */


.teacontainer {
    position:relative;
    top:70px;
    max-width:1000px;
    margin: 0 auto;
}

#monthteas {
    display:inline-flex;
    flex-wrap:wrap;
    justify-content: center;
    
}

#monthteas div{
    display:block;
}

#monthteas img{
    height:200px;
    width:300px;
    margin: 5px 15px;
}

#monthteas h4 {
    margin: 5px auto;
    padding-bottom: 10px;
}



/* locations */

.loccontainer {
    background-image:url('./Media/img-locations-background.webp');
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    
    height:500px;
    opacity:1;
    
    width:1200px;
    margin: 0 auto;
    
    position:relative;
    top:140px;

    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
}

#locations {
    display:inline-flex;
    flex-wrap:wrap;
}

#locations div {
    width:300px;
    margin:15px 20px;
    background-color:black;
    padding:5px;
}

/* footer */
footer {
    position:relative;
    top:140px;
    height:200px;
}

.copyright {
    position:relative;
    top:140px;
    text-align:left;
    margin:20px;
    height:50px;
}